:root{
    --error: #b11717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.login-container {
    width: 450px;
    height: 980px;
    position: relative;
    background: linear-gradient(to bottom, #287126, #57bc69);
}


.login-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.logo {
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-top: 33px;
}

.logo-container {
    width: 428.28px;
    height: 246.14px;
    margin: 120px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.user-icon {
    width: 186px;
    height: 151px;
    position: absolute;
    left: 18px;
    top: -6px;
    
}

.login-form {
    margin-top: 70px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
    margin-bottom: 5px;
}

.form-group input {
    width: 340px;
    height: 55px;
    margin: 0 auto;
    display: block;
    background: white;
    border: none;
    border-radius: 23.4043px;
    padding: 0 20px;
    color: white(238, 226, 226, 0.23);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
}

.login-button {
    width: 232px;
    height: 47px;
    background: #185216;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    display: block;
    margin: 120px auto 0;
    margin-bottom: 3rem;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 14px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.signup-link span {
    color: white;
    font-weight: 400;
}

.signup-link a {
    color: #185216;
    text-decoration: none;
    font-weight: 400;
}

.ocultar{
    display: none;
}

#error{
background-color: rgba(220, 53, 69, 0.9);
  color: #ffffff; 
  border-radius: 6px;
  padding: 12px 12px; 
  margin: 4px 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #c82333;
  font-size: 0.95rem;
  font-weight: 500; 
  max-width: 100%;
}
