body {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
}

.Election {
    width: 450px;
    height: 980px;
    position: relative;
    background: linear-gradient(to bottom, #287126, #57bc69); 
}

.Background {
    width: 446.25px;
    height: 918.95px;
    left: 427.24px;
    top: 918.63px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: top left;
}

.Button {
    position: absolute;
    left: 93px;
    top: 655px;
}

.Button:nth-of-type(2) {
    top: 741px;
}

.Group13 {
    width: 373px;
    height: 108px;
    left: 19px;
    top: 524px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

.LookingFor {
    height: 63px;
    position: absolute;
    top: 45px;
    width: 100%;
}

.WhatAreYou {
    height: 63px;
    position: absolute;
    top: 0;
    width: 100%;
}

.Eslogan {
    width: 232px;
    height: 38px;
    left: 98px;
    top: 451px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

.Group11 {
    width: 428.28px;
    height: 246.14px;
    left: 0;
    top: 161px;
    position: absolute;
}

.Ellipse1 {
    width: 222px;
    height: 214px;
    left: 95px;
    top: 32px;
    position: absolute;
    background: rgba(30, 30, 30, 0.20);
    border-radius: 9999px;
}

.Logo {
    width: 424.05px;
    height: 238.53px;
    left: 4.30px;
    top: 0px;
    position: absolute;
    transform: rotate(1deg);
    transform-origin: top left;
}

.SearchForAJob,
.SearchForEmployees {
    position: absolute;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

.SearchForAJob {
    left: 132px;
    top: 672px;
}

.SearchForEmployees {
    left: 106px;
    top: 758px;
}
